@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  /* colors */
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --paragraphs: hsla(0, 0%, 100%, 0.75);
  --bg-h-btn: hsl(0, 0%, 95%);
  /* screen */
  --mobile: 375px;
  --desktop: 1440px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  line-height: 1.2;

  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--bg-h-btn);
  padding: 25px;
}

h1,
h2,
h3,
h4 {
  font-size: inherit;
  font-weight: normal;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: inherit;
  cursor: pointer;
}

.container {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  border-radius: 10px;
  overflow: hidden;
}

.card {
  height: 300px;
  padding: 25px 30px;
  color: var(--paragraphs);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 20px; */
}

.card > img {
  display: block;
  width: 50px;
  object-fit: cover;
}

.card > h3 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 1.5rem;
  font-weight: 700;
}

.card > p {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
}

.card > button {
  width: 150px;
  background-color: var(--bg-h-btn);
  padding: 10px 0;
  border-radius: 20px;
  font-weight: 700;
}

.suv {
  background-color: var(--dark-cyan);
}

.suv > button {
  color: var(--dark-cyan);
}

.sedan {
  background-color: var(--bright-orange);
}

.sedan > button {
  color: var(--bright-orange);
}

.luxury {
  background-color: var(--very-dark-cyan);
}

.luxury > button {
  color: var(--very-dark-cyan);
}

@media screen and (min-width: 500px) {
  .container {
    flex-direction: row;
  }
}
