@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 14px;
  font-family: "Raleway", sans-serif; // Headings, Call-to-actions, Header Navigation
  font-family: "Open Sans", sans-serif;
  background-color: $primary-dark-blue-2;
  color: $neutral-white;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4 {
  font-size: inherit;
  font-weight: normal;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: inherit;
  cursor: pointer;
}

img {
  display: block;
  object-fit: cover;
}
