// colors
$p-s-red: hsl(7, 99%, 70%);
$p-yellow: hsl(51, 100%, 49%);
$p-d-d-cyan: hsl(167, 40%, 24%);
$p-d-blue: hsl(198, 62%, 26%);
$p-d-m-cyan: hsl(167, 37%, 52%);
$n-v-d-d-blue: hsl(212, 27%, 19%);
$n-v-d-g-blue: hsl(213, 9%, 39%);
$n-d-g-blue: hsl(232, 10%, 55%);
$n-g-blue: hsl(210, 4%, 67%);
$n-white: hsl(0, 0, 100%);

// screens
$sm: 570px;
$md: 768px;
$lg: 1280px;
