*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  line-height: 1.5;
  font-family: "Epilogue", sans-serif;
}

ul,
li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

main {
  min-height: calc(100vh - 80px);
}
