*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 18px;
  line-height: 1.5;
  font-family: "Epilogue", sans-serif;
}

ul,
li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

main {
  min-height: calc(100vh - 80px);
}

.nav {
  height: 80px;
  padding: 2rem 1rem;
}

.nav__container {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__container--left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__container--left > ul {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__container--right {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav__container--left {
    -webkit-box-flex: 0.5;
        -ms-flex: 0.5;
            flex: 0.5;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 3rem;
  }
  .nav__container--left ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1.5rem;
    font-size: 1rem;
    color: dimgray;
  }
  .nav__container--left ul > li {
    cursor: pointer;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.7rem;
  }
  .nav__container--left ul > li:hover {
    color: #141414;
  }
  .nav__container--right {
    -webkit-box-flex: 0.5;
        -ms-flex: 0.5;
            flex: 0.5;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1rem;
  }
  .nav__container--right > button {
    font-size: 0.9rem;
    color: dimgray;
    background-color: #fff;
    font-weight: 500;
    border: 2px solid #fff;
    border-radius: 15px;
    padding: 7px 20px;
  }
  .nav__container--right > button:last-child {
    border-color: dimgray;
  }
  .nav__menu {
    display: none;
  }
}

.hero {
  height: 100%;
  max-width: 1280px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 2rem;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  padding: 1rem;
}

.hero__title {
  font-size: clamp(3rem, 5vw, 1.5rem);
}

.hero__text {
  font-size: 1rem;
  color: dimgray;
}

.hero__btn {
  font-size: 0.9rem;
  color: #fff;
  background-color: #141414;
  font-weight: 700;
  border: 2px solid #141414;
  border-radius: 15px;
  padding: 7px 20px;
  padding: 0.7rem 1.4rem;
  font-size: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.hero__asset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}

.hero__img > img:first-child {
  display: none;
}

.hero__img > img:last-child {
  display: block;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hero__container {
    text-align: left;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 2rem;
  }
  .hero__container > * {
    margin: 0;
  }
  .hero__img > img:first-child {
    display: block;
    height: 100%;
    width: 100%;
  }
  .hero__img > img:last-child {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */